@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Poppins", sans-serif;');
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-amber);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-cyan, 600);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);
@include angular-material-theme($candy-app-theme);


.blue-snackbar {
  background: #2196F3;
}

.red-snackbar {
  background: #750012;
}

.green-snackbar {
  margin-top: 150px;
  background: #007016;
}
