.bg-image{
  /*background: url("shared/images/bg-01.jpg") no-repeat left top;*/
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vm;
  min-height: 100vh;
  background: url("shared/images/bg-01.jpg") no-repeat fixed;
  background-size: cover;
}

.font{
  font-family: 'Poppins', sans-serif;
}

.main-card{
  margin-top: 60px;
  padding-top: 10px;
  width: 80%;
}

.subpage-info{
  font-size: 20pt;
}


.side-extra-bar {
  margin-top: 2px;
  /*min-height: 200px;*/
  padding: 0;
  width: 10.70%;
  background-color: #333;
  /*height: 30%; !* Full height *!*/
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  position: absolute;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
